<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="container-fluid h-custom">
      <div
        class="
            row
            flex-grow-1 flex-sm-grow-0
            justify-content-center
            align-items-center
            h-100
          "
      >
        <div class="col-sm-6">
          <div class="service-card">
            <div class="card">
              <i class="bi bi-chat-text-fill">
                <link
                  rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
                <link
                  rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
                <img
                  src="./assets/logo3.png"
                  class="img-fluid"
                  alt="Sample image"
                />
              </i>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="contactAdd">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0"><i class="bi bi-house-door-fill"></i> İletişime geçebilirsiniz!
              </p>
              <hr style="width:60%;text-align:left;margin-left:0">
            </div>
            <label class="form-label" for="form3Example3"
            >
              <mark><i class="bi bi-mailbox2"></i> İsim</mark>
            </label
            >
            <div class="form-outline mb-4">
              <input formControlName="firstName"
                type="text"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="İsminizi Giriniz"
              />

            </div>
            <label class="form-label" for="form3Example4">
              <mark><i class="bi bi-mailbox2"></i> Soyisim</mark>
            </label>

            <div class="form-outline mb-3">
              <input formControlName="lastName"
                type="text"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Soyisminizi Giriniz"
              />
            </div>
            <label class="form-label" for="form3Example4">
              <mark><i class="bi bi-mailbox2"></i> Mesajınız</mark>
            </label>
            <div class="form-outline mb-3">
              <textarea formControlName="message" class="form-control" aria-label="With textarea" style="max-height: 100px"></textarea>
            </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button (click)="addContact()"
                type="button"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Mesaj Gönder
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
