<header class="header">
  <mat-toolbar color="primary">

    <div routerLink="/">

      <span><i class="bi bi-journal-bookmark-fill"></i> Dictionary For Developers</span>
    </div>

    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="bi bi-house-door-fill"></i> Ana Sayfa</a
        >
      </li>

      <li>
        <a routerLink="/about" routerLinkActive="active"
          ><i class="bi bi-cursor-fill"></i> Nedir?</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"
          ><i class="bi bi-plus-lg"></i> Kelime Ekle</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"
          ><i class="bi bi-chat-square-text-fill"></i> İletişim</a
        >
      </li>

      <li *ngIf="!isAuth()">
        <a routerLink="/auth/login" routerLinkActive="active"><i class="bi bi-person-circle"></i> Giriş Yap</a>
      </li>
      <li *ngIf="!isAuth()">
        <a routerLink="/auth/register" routerLinkActive="active"><i class="bi bi-people-fill"></i> Üye Ol</a>
      </li>

      <li *ngIf="isAuth()">
        <a routerLink="/auth/profile" routerLinkActive="active"><i class="bi bi-person-circle"></i> Profilin </a>
      </li>
      <li *ngIf="isAuth()">
        <a (click)="logout()"  routerLinkActive="active"><i class="bi bi-people-fill"></i> Çıkış Yap</a>
      </li>
    </ul>
  </mat-toolbar>
</header>
