<div *ngIf="dataLoaded == true" class="d-flex justify-content-center" style="margin-top: 150px">
  <div class="spinner-border text-dark" style="width: 16rem; height: 16rem;" role="status">

  </div>
</div>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="container-fluid h-custom">
      <div
        class="
          row
          flex-grow-1 flex-sm-grow-0
          justify-content-center
          align-items-center
          h-100
        "
      >
        <div class="col-sm-6" *ngIf="dataLoaded == false">
          <div class="service-card">
            <div class="card">
              <i class="bi bi-house-fill">
                <link
                  rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
                <link
                  rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
                <img
                  src="./assets/logo1.png"
                  class="img-fluid"
                  alt="Sample image"
                />
              </i>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="addedWordForm" *ngIf="dataLoaded == false">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0"><i class="bi bi-house-door-fill"></i> Yeni kelime
                ekleyebilirsiniz</p>
              <hr style="width:60%;text-align:left;margin-left:0">
            </div>
            <!-- Email input -->
            <label class="form-label" for="wordName">
              <mark><i class="bi bi-mailbox2"></i> Kelime</mark>
            </label
            >
            <div class="form-outline mb-4">
              <input formControlName="wordName"
                     type="text"
                     id="wordName"
                     class="form-control form-control-lg"
                     placeholder="Kelimeyi giriniz"
              />
            </div>
            <label class="form-label" for="form3Example4">
              <mark><i class="bi bi-shield-lock-fill"></i> Kullanım Alanı</mark>
            </label>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input formControlName="wordUseArea"
                     type="text"
                     id="form3Example4"
                     class="form-control form-control-lg"
                     placeholder="Kullanım alanı"
              />
            </div>

            <label class="form-label" for="form3Example4">
              <mark><i class="bi bi-shield-lock-fill"></i> Açıklaması</mark>
            </label>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input formControlName="wordDescription"
                     type="text"
                     id="form3Example6"
                     class="form-control form-control-lg"
                     placeholder="Kelime Açıklaması"
              />
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button (click)="addWord()"
                type="button"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Kelime Ekle
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
