<br />

<section class="container">
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Example</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h1>One Morning, When Gregor Samsa Woke</h1>

              <p>
                From troubled dreams, he found himself transformed in his bed
                into a horrible vermin. He lay on his armour-like back, and if
                he lifted his head a little he could see his brown belly,
                slightly domed and divided by arches into stiff sections. The
                bedding was hardly able to cover it and seemed ready to slide
                off any moment.
              </p>

              <p>
                His many legs, pitifully thin compared with the size of the rest
                of him, waved about helplessly as he looked. “What’s happened to
                me?” he thought. It wasn’t a dream. His room, a proper human
                room although a little too small, lay peacefully between its
                four familiar walls.
              </p>

              <h2>One Morning, When Gregor Samsa Woke</h2>

              <p>
                From troubled dreams, he found himself transformed in his bed
                into a horrible vermin. He lay on his armour-like back, and if
                he lifted his head a little he could see his brown belly,
                slightly domed and divided by arches into stiff sections. The
                bedding was hardly able to cover it and seemed ready to slide
                off any moment.
              </p>

              <blockquote class="blockquote">
                <p class="m-b-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer posuere erat a ante.
                </p>
              </blockquote>

              <p>
                His many legs, pitifully thin compared with the size of the rest
                of him, waved about helplessly as he looked. “What’s happened to
                me?” he thought. It wasn’t a dream. His room, a proper human
                room although a little too small, lay peacefully between its
                four familiar walls.
              </p>

              <h3>One Morning, When Gregor Samsa Woke</h3>

              <p>
                From troubled dreams, he found himself transformed in his bed
                into a horrible vermin. He lay on his armour-like back, and if
                he lifted his head a little he could see his brown belly,
                slightly domed and divided by arches into stiff sections. The
                bedding was hardly able to cover it and seemed ready to slide
                off any moment.
              </p>

              <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>
                  Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ul>

              <p>
                His many legs, pitifully thin compared with the size of the rest
                of him, waved about helplessly as he looked. “What’s happened to
                me?” he thought. It wasn’t a dream. His room, a proper human
                room although a little too small, lay peacefully between its
                four familiar walls.
              </p>

              <h4>One Morning, When Gregor Samsa Woke</h4>

              <p>
                From troubled dreams, he found himself transformed in his bed
                into a horrible vermin. He lay on his armour-like back, and if
                he lifted his head a little he could see his brown belly,
                slightly domed and divided by arches into stiff sections. The
                bedding was hardly able to cover it and seemed ready to slide
                off any moment.
              </p>

              <p>
                His many legs, pitifully thin compared with the size of the rest
                of him, waved about helplessly as he looked. “What’s happened to
                me?” he thought. It wasn’t a dream. His room, a proper human
                room although a little too small, lay peacefully between its
                four familiar walls.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.container -->
