<br/>

<section class="container">
  <div class="row">
    <div class="col-xl-12">
      <table class="table table-bordered">

        <tbody>
        <tr>
          <td>
            <br>

            <h1><i class="bi bi-box"></i>   <strong> Bu uygulama neden var? </strong></h1>

            <h4>
              <strong>
             Bu uygulama yazılımcıların en sık kullandığı kelimeleri listelemek ve kolayca ulaşmak için var !
              Özellikle yazılım sektöründe ve günümüzde İngilizce bilmenin önemini hepimiz biliyoruz elbette.
              </strong>
            </h4>
            <h4>
              <strong>
                Proje de ise en sık kullanılan ve biz yazılımcıların en çok ihtiyaç duyduğu ingilizce kelimeleri, kullanım alanlarını arşivlemek için
                yaratılmış bir projedir.
              </strong>
            </h4>

            <h4>
              <strong>
                Bu proje %100 açık kaynak olup. Tamamen geliştirmeye ve yeni fikirlere açıktır.
                Eksik gördüğünüz tarafları veya burası şöyle olsaydı daha güzel olurdu dediğiniz kısımları lütfen
                bana bildirin :)
              </strong>
            </h4>


          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

