<div class="fixed-bottom position-sticky">
  <footer>
    <header class="header">
      <mat-toolbar color="primary">
        <ul class="header-menu">
          <li>
            <a href="https://github.com/TarikSogukpinar/DictionaryForDevelopersFrontEnd" target="_blank"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }"
            ><i class="bi bi-github"></i> GitHub</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/tar%C4%B1k-so%C4%9Fukp%C4%B1nar/" target="_blank" routerLinkActive="active"
            ><i class="bi bi-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active"
            ><i class="bi bi-mailbox2"></i> İletişim</a
            >
          </li>
        </ul>
      </mat-toolbar>
    </header>
  </footer>
</div>
